<div class="container border border-bottom-0 border-primary border-3 rounded-top bg-light pt-2 my-font-1">
    <div class="d-flex justify-content-between pb-1">
        <div class="fecha-izq d-flex">
            <div class="dia-mes">
                <h1 id="dia" class="mb-0">{{FechaDia}}</h1> 
                <h3 id="mes" >{{FechaMes}} </h3>              
            </div>
            <div class="anio d-flex align-items-end ms-2">
                <h3>{{FechaAnio}}</h3> 
            </div>
        </div>
        <div class="fecha-dcha d-flex align-items-end">
            <h1>{{DiaDeLaSemana}}</h1> 
        </div>
    </div>
</div>
